AFIP_ACCESS_TOKEN=tu_access_token
AFIP_CUIT=20409378472

# Agregar estos envs si NO se usa el cuit 20409378472
# AFIP_KEY_PATH=./afip-keys/key.key
# AFIP_CERT_PATH=./afip-keys/cert.crt

# Opcional: usar ambiente productivo
# AFIP_PRODUCTION=false
